<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="ch.heigvd.comem.android">
    <application
      android:icon="@drawable/cuteicon">
         <activity android:name=".activities.MainActivity" android:label="COMEMoid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.SimpleActivity">
        </activity>
        <activity android:name=".activities.FactsActivity">
        </activity>
        <activity android:name=".activities.CanvasActivity">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
