<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.NRJdroid" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NRJdroid</name>
    <description>
        An application made in one day for the mobile web services course
    </description>
    <author email="hello@fredmontet.com" href="http://www.fredmontet.com">
        The awesome COMEM engineering team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
